
<div class="articles-grid">

   <div class="article-card" *ngFor="let article of articles" (click)="goToDetail(article)">

      <div class="image-wrapper">

        <img [src]="'http://localhost:8080' + article.images[0]" alt="{{ article.nom }}">
        <i class="far fa-heart text-black icon1"></i>
        <i class="fa fa-eye icon2"></i>
       </div>

       <!-- Description sous l'image -->
      <div class="article-info">

        <p class="description">{{ article.nom }}</p>
        <p class="price">{{ article.prix }} FCFA</p>
        <p class="option">Select options</p>
        <p>Quick View</p>
      </div>

   </div>
</div>
