
<header
  [ngClass]="{
    'header-home': currentRoute === '/home',
    'header-all': currentRoute !== '/home'
  }"
>
 <nav class="navbar "  [class.scrolled]="isScrolled">

  <div (click)="openPanel()" class="small_menu">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>



  <ul class="nav-menu">

    <li class="menu-item" routerLink="/home">Home</li>
    <li class="menu-item"  >About us</li>
    <li class="menu-item" (click)="goToArticles('all')">shopAll</li>

    <!-- MENU 1 -->
    <li class="menu-item">
      Colletions
      <ul class="submenu">
        <li class="menu-item black" (click)="goToArticles('newinstore')">New In store</li>
        <li class="submenu-item black">
          Activewear
          <ul class="sub-submenu">
            <li>Set</li>
            <li>Best sellers</li>
            <li>jumpsuit</li>
            <li>leggings</li>
            <li>Short</li>
            <li>Tops</li>
            <li>Socks</li>
          </ul>
        </li>
        <li class="submenu-item black">
          All Drops
          <ul class="sub-submenu">
            <li (click)="goToArticles('drop9')">Drop 9</li>
            <li (click)="goToArticles('drop8')">Drop 8</li>
            <li (click)="goToArticles('drop7')">Drop 7</li>
            <li (click)="goToArticles('exclusivedrop')">Exclusive Drop</li>
            <li (click)="goToArticles('summerdrop')">Summer Drop</li>
            <li (click)="goToArticles('tops')">Tops</li>
            <li (click)="goToArticles('socks')">Socks</li>
          </ul>
        </li>

        <li class="submenu-item black">
          Gym Essentials
          <ul class="sub-submenu">
            <li (click)="goToArticles('gymwear')">Gym wear</li>
            <li (click)="goToArticles('sportsbra')">Sport's Bra</li>
            <li (click)="goToArticles('tennis')">Tennis</li>
            <li (click)="goToArticles('mats')">Mats</li>
            <li (click)="goToArticles('bag')">Bag</li>
            <li (click)="goToArticles('bottles')">Bottles</li>
          </ul>
        </li>

        <li class="submenu-item black">
          Fitness & Wellness
          <ul class="sub-submenu">
            <li (click)="goToArticles('waisttrainers')">Waist Trainers</li>
            <li (click)="goToArticles('fatburnercream')">Fat Burner Cream</li>
          </ul>
        </li>

       </ul>
     </li>

    <li class="menu-item" (click)="goToArticles('accessories')">Accessories</li>

    <li class="menu-item" (click)="goToArticles('all')">Gift Card</li>
    <li class="menu-item" routerLink="/detail" >Contact us</li>

  </ul>

  <div class="logo">
    <img src="assets/logo.jpg" alt="logo">
  </div>


  <div class="icons">

    <a  class="cart-icon"  >
      <i class="fa fa-search" aria-hidden="true"></i>
    </a>

    <a  class="cart-icon" (click)="copen()" >
      <i class="fa fa-user-circle" ></i>
    </a>

    <a routerLink="/admint" class="cart-icon">
      <i class="fa fa-search" ></i>
    </a>

    <a routerLink="/cart" class="cart-icon" (click)="openPanierPanel()">
      <i class="fa fa-shopping-cart"></i>
      <!-- Badge rouge : s’affiche uniquement si le panier > 0 -->
      <span class="badge" *ngIf="cartCount > 0">
        {{ cartCount }}
      </span>
    </a>
  </div>

</nav>


</header>

<!-- backdrop invisible -->
<div class="backdrop" [class.show]="isPanelOpen" (click)="closePanel()">

  <nav
    class="side-panel"
    [class.open]="isPanelOpen"
    (click)="$event.stopPropagation()"
  >

    <!-- SEARCH BAR -->
    <div class="search-container">
      <input
        type="text"
        placeholder="Rechercher un article..."
        [(ngModel)]="searchText"
        (input)="onSearch()"
      />
      <span class="search-icon"> <i class="fa fa-search black" ></i></span>
    </div>

    <!-- NAVIGATION MENU -->
    <nav class="mobile-menu">

      <!-- SIMPLE MENU ITEM -->
      <div class="menu-item-small"  routerLink="/home"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">
        Home
      </div>

      <div class="menu-item-small"  >
        About Us
      </div>

      <div class="menu-item-small" (click)="goToArticles('all')">
        Shop All
      </div>
      <!-- MENU ITEM -->
      <div class="menu-item-small" (click)="toggleMenu('collections')">

        <span>Collections</span>
        <span class="arrow" [class.openItem]="activeMenu === 'collections'">⌄</span>
      </div>



      <!-- SUB MENU LEVEL 1 -->
      <div class="submenup" *ngIf="activeMenu === 'collections'">

        <div class="menu-item-small" (click)="goToArticles('all')">
          New
        </div>


        <div class="submenup-item" (click)="toggleSubMenu('ActiveWear')">
          ActiveWear
          <span class="arrow" [class.openItem]="activeSubMenu === 'ActiveWear'">⌄</span>
        </div>

        <!-- SUB MENU LEVEL 2 -->
        <div class="submenup-level2" *ngIf="activeSubMenu === 'ActiveWear'">
          <div class="submenup-link">Set</div>
          <div class="submenup-link">Best sellers</div>
          <div class="submenup-link">jumpsuit</div>
          <div class="submenup-link">leggings</div>
          <div class="submenup-link">Short</div>
          <div class="submenup-link">Tops</div>
          <div class="submenup-link">Socks</div>
        </div>



        <div class="submenup-item" (click)="toggleSubMenu('Gym Essentials')">
          Gym Essentials
          <span class="arrow" [class.openItem]="activeSubMenu === 'Gym Essentials'">⌄</span>
        </div>


        <div class="submenu-level2" *ngIf="activeSubMenu === 'Gym Essentials'">
          <div class="submenup-link" click)="goToArticles('gymwear')">Gym wear</div>
          <div class="submenup-link" (click)="goToArticles('sportsbra')">Sport's Bra</div>
          <div class="submenup-link" (click)="goToArticles('tennis')">Tennis</div>
          <div class="submenup-link" (click)="goToArticles('mats')">Mats</div>
          <div class="submenup-link" (click)="goToArticles('bag')">Summer Drop</div>
          <div class="submenup-link" (click)="goToArticles('bottles')">Bottles</div>
        </div>


        <div class="submenup-item" (click)="toggleSubMenu('Fitness & Wellness')">
          Fitness & Wellness
          <span class="arrow" [class.openItem]="activeSubMenu === 'Fitness & Wellness'">⌄</span>
        </div>

        <div class="submenu-level2" *ngIf="activeSubMenu === 'Fitness & Wellness'">
          <div class="submenup-link" (click)="goToArticles('waisttrainers')">Waist Trainers</div>
          <div class="submenup-link" (click)="goToArticles('fatburnercream')">Fat Burner Cream</div>
        </div>

      </div>


      <!-- SIMPLE MENU ITEM -->
      <div class="menu-item-small">
        Accessories
      </div>

      <div class="menu-item-small">

        Gift Card


      </div>

      <div class="menu-item-small">
        Contact Us
      </div>

    </nav>

  </nav>
</div>


<!-- connexionBACKDROP -->
<div class="cbackdrop" [class.show]="cisOpen">

  <!-- MODALE -->
  <div class="modal" [class.open]="cisOpen">

    <button class="cclose-btn" (click)="cclose()">✕</button>

    <h2>Connexion</h2>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <div class="field">
        <label>Email</label>
        <input type="email" formControlName="email">
      </div>

      <div class="field">
        <label>Mot de passe</label>
        <input type="password" formControlName="password">
      </div>

      <button class="submit" type="submit" [disabled]="loginForm.invalid">
        Se connecter
      </button>

    </form>

  </div>
</div>



<app-page-panier
  [Panieropen]="isPanierPanelOpen"
  (Panierclose)="closePanierPanel()">
</app-page-panier>


<router-outlet></router-outlet>

<app-footer></app-footer>

